<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/login" method="POST">
        <label for="Name">Email</label>
        <input type="text" name="email" placeholder="Email" required>
        <label for="Name">Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
    </form>
    <small>Not a user <a href="/signUp">Click Here</a> to register</small>
</body>
</html>